#burger {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    outline: none;
    border: none;
    background-color: transparent;;
}

#burger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    transform: rotate(0deg) scaleX(1);
    transition: 0.25s ease-in;
}

#burger span:nth-child(1) {
    top: 0;
}

#burger span:nth-child(2) {
    top: 18px;
    transform: translate(0, 0);
    transform-origin: right;
}

#burger span:nth-child(3) {
    top: 36px;
}

#burger.open span:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
}

#burger.open span:nth-child(2) {
    transform: translate(30px, 0) scaleX(0);
    opacity: 0;
}

#burger.open span:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
}
