.drop {
    position: relative;
    width: 20px;
    height: 20px;
    top: -33px;
    margin: 0 auto;
    background: #d3531a;
    border-radius: 20px;
    transform: rotate(-90deg);
    left: 60px
}

.drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #d3531a;
    top: -22px;
}
